/* .css-1p05t8e {
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 0.25rem;
    padding: calc(1em - 1px);
    height: 500px;
} */

.css-18e3th9 {
    flex: 1 1 0%;
    width: 100%;
    padding: 0rem 0rem 0rem;
    min-width: auto;
    max-width: initial;
}